<!DOCTYPE html>
<html>
  <head>
    <title>KisanMitr - Login Page</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" required>
      <label for="role">Role:</label>
      <select id="role" name="role" required>
        <option value="" disabled selected>Select role</option>
        <option value="farmer">farmer</option>
        <option value="distributor">distributor</option>
        <option value="nodalAgency">nodalAgency</option>
      </select>
      

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
