<!DOCTYPE html>
<html>
  <head>
    <title>Farmer Registration</title>
  </head>
  <body>
    <h1>Farmer Registration</h1>
    <form method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" required><br><br>
      <label for="phone">Phone:</label>
      <input type="tel" name="phone" pattern="[0-9]{10}" required><br><br>
      <label for="address">Zipcode:</label>
      <input type="text" name="zipcode" pattern="[0-9]{6}" required><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
